.about_me_flex {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.info_flex_column {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding-bottom: 3rem;
}
.based_in_flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about_me_container{
  background-color: #fccaa4;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 0;
  border: 2px solid black;
  box-shadow: 20px 20px 0px #ecae7d;
  grid-column: full;
  max-width: 55rem;
}

@media (min-width: 800px) {
  .about_me_flex {
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }
  .info_flex_column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 3rem;
  }
}

@media (min-width: 1120px) {
  /* .about_me_grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0;
  } */
}
