.burgermenu_open {
  background-color: var(--primarycolor);
}

.list_flex {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 2rem;
}

li {
  list-style-type: none;
  font-family: var(--p-font);
  font-size: var(--p-size);
  cursor: pointer;
}
.burgermenu {
  display: block;
  background-color: var(--primarycolor);
  position: fixed;
  width: 100%;
  top: 0;
}

.icons {
  color: #514c45;
  cursor: pointer;
  font-size: 1.7rem;
}
@media (min-width: 1220px) {
  .burgermenu {
    display: none;
  }
}
