.footer {
  background-color: #f489b0;
  border: 2px solid black;
  margin-top: 6rem;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;


  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
}
.logo {
  width: 7rem;
  justify-self: center;
  align-self: flex-end;
}

.logo {
  display: none;
}
.contact_socials_flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
}

@media (min-width: 300px) {
  .footer {
    gap: 2.5rem;
  }
}

@media (min-width: 400px) {
  .footer {
    gap: 5rem;
  }
}

@media (min-width: 600px) {
  .logo {
    display: block;
  }

  .footer {
    padding-left: 5em;
    padding-right: 7rem;
    gap: 4rem;
    justify-content: space-between;
  }
}
