@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --primarycolor: #b3d5b9;
  --secondary: #ebdec9;
  --h2-font: "PT Serif", serif;
  --body-font: "Inter, system-ui, Avenir, Helvetica, Arial, sans-serif";
  --h1-font: "Old Standard TT", serif;
  --font-color: #514c45;
}
body {
  background-color: var(--primarycolor);
  margin: 0;
}

p {
  font-size: 1rem;
  line-height: 1.8rem;
  font: 1em;
  font-family: var(--body-font);
}

.beige-background {
  padding-top: 2rem;
  padding-bottom: 5rem;
  background-color: var(--secondary);
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.blue-background {
  padding-top: 2rem;
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.blue-background > h1 {
  font-size: 3rem;
  font-family: var(--h1-font);
  color: var(--secondary);
  justify-self: right;
}

.blue-background > h2 {
  font-size: 3rem;
  font-family: var(--h2-font);
  color: var(--secondary);
}

.beige-background > h1 {
  font-size: 3rem;
  font-family: var(--h2-font);
}

.beige-background * {
  grid-column: 2;
  color: var(--primarycolor);
}

.blue-background > * {
  grid-column: 2;
}

.skill-boxes-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 2rem;
  row-gap: 4rem;
  margin-top: 1.5rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.skill-box {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary);
  padding: 1rem;
  border-radius: 1rem;
  justify-content: space-between;
  width: 15rem;
}

.show-skill-btn {
  cursor: pointer;
}

.icons {
  font-size: 2em; /* Ændrer størrelsen på ikonet */
  width: 1.2em; /* Sætter bredden på ikonet */
  height: 2em; /* Sætter højden på ikonet */
  color: var(--primarycolor);
}

.hobby-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 3rem;
  row-gap: 5rem;
  justify-items: center;
  align-items: baseline;
}

.grade-flex {
  display: flex;
  flex-direction: row;
  gap: 25rem;
}

.about-me-grid {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  margin: 0;
}

.about-me-grid > :first-child {
  background-color: #98bea0;
  padding: 2rem;
  margin: 0;
}
h1,
h2,
p {
  color: var(--font-color);
}

h2,
h1 {
  font-family: var(--h1-font);
}
@font-face {
  font-family: "jostitalic";
  src: url("jost-italic-variablefont_wght-webfont.woff2") format("woff2"),
    url("jost-italic-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "jostregular";
  src: url("jost-variablefont_wght-webfont.woff2") format("woff2"),
    url("jost-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
