@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');




:root {
  --primarycolor: #eee4d6;
  --secondary: #ebdec9;
  --tertiary: #d0c4b1;
  --quaternary: #98bea0;
  --display-title-font:  "Shrikhand", serif;
  /* --h1-font: "Old Standard TT", serif; */
  --h1-font: "Bebas Neue", sans-serif;
  --h2-font: "PT Serif", serif;
  --h3--font: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --h4--font: "Old Standard TT", serif, "Lucida Sans Unicode", Geneva, Verdana,
    sans-serif;
  --p-font: "Quicksand", sans-serif;
  --font-color: #242424;
}
:root {
  --base-font-size: 12px;
  --display-title-size: 2.5rem;
  --subtitle-size: 1rem;
  --h1-size: 1.8rem;
  --h2-size: 1.6rem;
  --h3-size: 1.2rem;
  --h4-size: 1rem;
  --p-size: 0.8rem;
}

body {
background-color: rgb(238, 238, 238);
  margin: 0;
  padding: 0;
}

.display_title {
  font-size: var(--display-title-size);
  font-family: var(--display-title-font);
  font-weight: 400;
  margin: 0;

}

.subtitle {
  font-size: var(--subtitle-size);
  font-family: var(--p-font);
  font-weight: 400;
  margin: 0;
}
p {
  font-size: var(--p-size);
  line-height: 1.8rem;
  font-family: var(--p-font);
  max-width: 32rem;
}

.h2 {
  font-size: 2.5rem;
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  margin: 0.2rem;
  color: var(--font-color);
}

.h3 {
  color: var(--font-color);
  font-family: var(--h3--font);
  font-size: var(--h3-size);
  font-weight: 400;
}

.h4 {
  color: var(--font-color);
  font-family: var(--h4--font);
  font-size: var(--h4-size);
}


.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.icons {
  font-size: 2em; /* Ændrer størrelsen på ikonet */
  width: 1.2em; /* Sætter bredden på ikonet */
  height: 2em; /* Sætter højden på ikonet */
  color: var(--font-color);
}

h1,
h2,
p {
  color: var(--font-color);
}

h2,
h1 {
  font-family: var(--h1-font);
}
/* @font-face {
  font-family: "jostitalic";
  src: url("jost-italic-variablefont_wght-webfont.woff2") format("woff2"),
    url("jost-italic-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "jostregular";
  src: url("jost-variablefont_wght-webfont.woff2") format("woff2"),
    url("jost-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.skill-boxes-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 2rem;
  row-gap: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.about-me-grid {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
}

.about-me-grid > :first-child {
  background-color: var(--quaternary);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (min-width: 500px) {
  :root {
    --base-font-size: 14px;
    --display-title-size: 3.5rem;
    --subtitle-size: 1.4rem;
    --h1-size: 2.853rem;
    --h2-size: 2.542rem;
    --h3-size: 1.4rem;
    --h4-size: 1.2rem;
    --p-size: 1rem;
  }
}

@media (min-width: 690px) {
  .skill-boxes-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: left;
  }

  .skill-boxes-grid h1 {
    grid-column: 1/3;
    justify-self: left;
  }
}

@media (min-width: 1120px) {
  :root {
    --base-font-size: 16px;
    --display-title-size: 4.5rem; /* Adjust as needed */
    --subtitle-size: 1.8rem; /* Adjust as needed */
    --h1-size: 3.169rem; /* 50.704px */
    --h2-size: 2.82rem; /* 45.12px */
    --h3-size: 1.5rem; /* 40.208px */
    --h4-size: 1.3rem; /* 20.8px */
  }

  .skill-boxes-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: left;
    gap: 2rem;
    row-gap: 3rem;
    margin-top: 8rem;
    margin-bottom: 8rem;
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .skill-boxes-grid h1 {
    grid-column: 1/4;
    justify-self: left;
  }
}
