.grade-image-container {
  background-image: url(../assets/Icons/doodle-ring.svg);
  background-size: cover;
  width: 14rem;
  height: 15.3rem;
  text-align: center;
  align-content: center;
}
.grade-flex {
  display: flex;
  flex-direction: column;
}

.grade-image-container h1 {
  font-size: 4rem;
  font-family: var(--h1-font);
  color: var(--font-color);
}

.grades {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.grades > h1 {
  margin-left: 20rem;
}
.grade-text {
  width: 28rem;
}

.grade-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20rem;
  padding-right: 20rem;
}
.grade-flex-row :nth-child(2) {
  align-self: flex-start;
}
.grade-flex-column {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
