body{
  background-image: url(../imgs/dotted-pattern.png);
}
.grade-image-container {
  background-image: url(../assets/Icons/doodle-ring.svg);
  background-size: cover;
  width: 9.2rem;
  height: 10rem;
  text-align: center;
  align-content: center;
  margin-top: 2rem;
}

.grade-flex > :nth-child(2) {
  order: -1;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  text-align: center;
}

.grade-image-container h1 {
  font-size: 4rem;
  font-family: var(--h1-font);
  color: var(--font-color);
  justify-content: center;
  justify-items: center;
}

/* .grades {
  margin-top: 8rem;
  margin-bottom: 8rem;
} */

.grade-text {
  width: 25rem;
}

.grade-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.grades-flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: var(--extra-padding);
  padding-right: var(--extra-padding);
}

@media (max-width: 500px) {
  .grade-text {
    width: 22rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 768px) {
  .grade-image-container {
    background-image: url(../assets/Icons/doodle-ring.svg);
    background-size: cover;
    width: 11rem;
    height: 12rem;
    text-align: center;
    align-content: center;
  }


  .grade-image-container h1 {
    font-size: 4rem;
    font-family: var(--h1-font);
    color: var(--font-color);
  }

  .grades {
    /* margin-top: 8rem; */
    margin-bottom: 8rem;
  }

  .grade-text {
    width: 28rem;
  }

  .grade-flex {
    display: flex;
    flex-direction: row;
    gap: 7rem;
  }
  .grade-flex :nth-child(2) {
    align-self: flex-start;
  }
  .grades-flex {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
 
  }

  .grade-flex > :nth-child(2) {
    order: 1;
  }
}
