.hobby {
  text-align: center;
}

.hobby img {
  width: 9rem;
}

.hobby h1 {
  font-size: 1.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--secondary);
}
