.navbar {
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  top: 50%;
  transform: translateY(-65%);
}

.navbar button {
  background-color: transparent;
  border: 1px black solid;
  color: var(--font-color);
  font-size: 1.5rem;
  cursor: pointer;
  background-color: rgb(227, 190, 147);
  text-align: left;
}

.navbar button.active {
  background-color: rgb(
    255,
    165,
    0
  ); /* Example: highlight color for active button */
}
