.navbar {
  display: none;
}

@media (min-width: 1250px) {
  .navbar {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    top: 50%;
    transform: translateY(-65%);
  }

  .navbar button {
    background-color: transparent;
    color: var(--primarycolor);
    font-size: 1.3rem;
    cursor: pointer;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    border: none;
    background-color: #5b5555;
    transition: transform 0.3s, width 0.3s;
  }

  .navbar button.active {
    transform: translateX(-2rem);
    width: calc(100% + 2rem); /* Adjust the width to ensure no gap */
  }
}
