
.socials_btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    background-color: #F3B710;
    border: 2px solid black;
    padding-inline: 0.4rem;
    cursor: pointer;
    gap:0.5rem;
    width: 200px;
    justify-content: center;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.social_text{
    font-size: calc(0.8rem + 0.2vw);
    line-height: 0rem;

    
}


.socials_btn:hover{
    background-color: #FB7DA8;
    box-shadow: 1px 2px 1px black ;
}