.folder{
    background-image: url("../imgs/folder_icon.svg");
    padding: 2rem;    
    background-repeat: no-repeat;
    padding-top: 2rem;
    padding-bottom: 2rem; 
    background-size:contain; 
    align-items: center;
   
} 

.folder:hover{
    animation-name: rotateSideToSide;
    animation-duration: 1s;
    animation-timing-function: linear;
     animation-iteration-count: infinite;
   
}

@keyframes rotateSideToSide{
    0%{
        transform: rotate(0deg);
    }
   25%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(0deg);
    }

    75%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0deg);
    }

}

.folders_grid{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: calc(13rem - 20vw); 
    row-gap: 3rem;
    justify-content: space-between;
    align-content: baseline;
    padding-inline: 5rem; 
    margin-top: 2rem;
}

 .folder_name {
    width: 5rem;
    font-size: 1rem;
    font-family: var(--p-font);
} 

@media (max-width: 800px) {
  .folders_grid{
    justify-content: center;
    padding-inline: 0.5rem;
  }
}